.app-head {
  padding: 20px;
  color: #FFF;
  font-size: 20px;
  font-weight: 600;
  background: #09d3ac;
  text-align: center;
  line-height: 20px;
  margin: 0;
}

.app-playlist-area {
  display: flex;
  padding: 5%;
  background: #09d3ac;
  border-top: 3px solid rgba(2, 78, 63, 0.7);
}

.search-results {
  width: 47.5%;
  margin-right: 2.5%;
  height: 500px;
  background: #fff;
  padding: 20px;
  overflow: auto;
}

.playlist {
  width: 47.5%;
  margin-left: 2.5%;
  height: 500px;
  background: #fff;
  padding: 20px;
  overflow: auto;
}

.playlist-name {
  width: 100%;
  height: 40px;
  padding: 10px;
  border: 3px solid #09d3ac;
  margin-bottom: 15px;
}

.save-btn {
  width: 100%;
  height: 45px;
  border: 3px solid #09d3ac;
  background: rgba(9, 211, 172, 0.5);
  color: #fff;
  font-size: 14px;
  text-transform: uppercase;
  font-weight: 600;
  border-radius: 3px;
}