.seach-box {
    padding: 30px;
    background: rgba(9, 211, 172, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
}

.search-input {
    border: 3px solid #09d3ac;
    height: 40px;
    width: 300px;
    border-radius: 3px;
    padding: 10px;
}

.search-btn {
    border: 3px solid #09d3ac;
    background: rgba(9, 211, 172, 0.5);
    color: #fff;
    font-size: 12px;
    width: 100px;
    height: 39px;
    margin: 0;
    margin-left: 15px;
    text-transform: uppercase;
    font-weight: 600;
    border-radius: 3px;
}