.track-box {
    background: rgba(9, 211, 172, 0.6);
    padding: 15px;
    border-radius: 5px;
    margin-bottom: 20px;
    position: relative;
    color: rgba(2, 78, 63, 0.7);
}

.action {
    position: absolute;
    top: 3px;
    right: 6px;
    display: flex;
    align-items: center;
    padding: 0px;
    font-size: 20px;
    height: 15px;
    width: 15px;
    justify-content: center;
    cursor: pointer;
}

.track-name {
    margin: 0;
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 10px;
}

.track-dt {
    margin: 0;
    font-size: 12px;
    font-weight: 600;
}